.listTitle {
  color: rgb(14, 73, 73);
  font-size: 28px;
  font-weight: 600;
}

.list {
  margin: 10px;
  outline: solid brown 2px;
  outline-offset: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.listButton {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: rgb(64, 199, 129);
  box-shadow: 0 -3px rgb(53, 167, 110) inset;
  transition: 0.2s;
  position: absolute;
  bottom: 0;
}

.allTasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}
